HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iml

# Maven
target/

# Gradle
.gradle/
build/

# Logs
*.log

# OS
.DS_Store

# Env
.env
